
/* Need navigation and header info 


*/

*{box-sizing: border-box; position: relative;}


nav{ height: 40px; 
    border: 1px dotted grey;}

.header{width: 850px; height: 400px; border: initial; 
    background-color: lightblue; position: relative;
    top: 40px; left: 30px; }

.header-bg{height: 225px; background-color: cyan; border: 1px, solid black;}

.profile-header{ 
    height: 175px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    border: 1px, solid black;
}
.profile-photo{
    background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQEY6oG2e2mUbw/profile-displayphoto-shrink_100_100/0?e=1592438400&v=beta&t=Kz7AS2vLZezQe9toTqY8XQ7z8DQ8RMfqIhaHnZXMYGE');
    background-repeat: no-repeat;
    background-position: center;

    height: 175px;
    width: 175px;
    border-radius: 50%;

    position: relative;
    top: -125px;
    left: 20px;
    /* Insert a photo */
}
.profile-info{border: 1px dotted grey; 
height: 60px;
width: 60%; }
.profile-info h1{font-size: 22px; font-family: sans-serif; font-weight: lighter;}

.profile-buttons{
    height: 75px;
    position: relative;
    top: -75px;
}
.profile-buttons button{
    font-size: 22px;
    background: blue;
    color: white;
}

.employer-and-school-badges{
        border: 1px dotted black;   
        position: relative;
        top: -75px;
        left: 75px;
}
.employer-and-school-badges li{ 
    list-style: none;
}
.youll-float-too{ border: 1px dotted black; width: 50%; float: right; }
